.intro-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
}
  
.intro-main h1 {
  font-size: 75px;
  width: 12.1ch;
  overflow: hidden; 
  border-right: 3px solid black; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .12em; 
  animation: 
    typing 1.5s steps(12),
    blink-caret .7s step-end infinite;
}
  
@keyframes typing {
  from { width: 0 }
}
  
@keyframes blink-caret {
  from, to { border-color: transparent }
  20%{ border-color: black; }
}
  
.intro-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}
  
.intro-icons li {
  padding-right: 20px;
  transition: 500ms ease-out;
} 
  
.intro-icons li a {
    text-decoration: none;
    color: #141414;
    font-size: 25px;
}

.intro-icons li:hover {
  transition: 300ms ease-in;
  transform: scale(1.1);
}

.quick-about {
  padding-top: 1.5em;
  transition: 300ms ease-out;
}

.quick-about a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {opacity: 0;}
}

.quick-about:hover {
  transition: 500ms ease-in;
  transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  .intro-main {
    font-size: .8em;
  }
}

@media screen and (max-width: 1100px) {
   .intro-main h1 {
    font-size: 30px;
   } 
}

@media screen and (max-width: 900px) {
  .intro-icons {
    font-size: 20px;
  }
}
