/* Posts Page */
.posts-main {
  padding-top: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 1rem;
}

.posts-card-main {
  padding: 10px;
  display: grid;
  overflow-y:auto;
  grid-template-columns: auto auto auto;
  height: 60vh;
  margin: 5px;
  gap: 10px;
  align-items: flex-start ;
}

.posts-card-main a {
  text-decoration: none;
}

.posts-card {
  padding: 10px;
  box-sizing: border-box;
  width: 290px;
  height: 290px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid black;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.posts-card:hover {
  transform: scale(1.05);
}

.posts-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

@media screen and (max-width: 600px) {
  .posts-card-main {  
    grid-template-columns: auto;
    justify-items: center;
  }
}

@media screen and (max-width: 600px) {
  .posts-main {
    width: 85%;
    font-size: .9em
  }
}
